<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="apps.hunter.com" platformBuildVersionCode="28" platformBuildVersionName="9">
    <permission android:description="@string/permdesc_downloadManager" android:label="@string/permlab_downloadManager" android:name="com.mozillaonline.downloads_appvn_nk.ACCESS_DOWNLOAD_MANAGER" android:protectionLevel="normal"/>
    <permission android:description="@string/permdesc_downloadManagerAdvanced" android:label="@string/permlab_downloadManagerAdvanced" android:name="com.mozillaonline.downloads_appvn_nk.ACCESS_DOWNLOAD_MANAGER_ADVANCED" android:protectionLevel="normal"/>
    <permission android:description="@string/permdesc_downloadCompletedIntent" android:label="@string/permlab_downloadCompletedIntent" android:name="com.mozillaonline.downloads_appvn_nk.SEND_DOWNLOAD_COMPLETED_INTENTS" android:protectionLevel="normal"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.mozillaonline.downloads_appvn_nk.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="com.mozillaonline.downloads_appvn_nk.ACCESS_DOWNLOAD_MANAGER_ADVANCED"/>
    <uses-permission android:name="com.mozillaonline.downloads_appvn_nk.SEND_DOWNLOAD_COMPLETED_INTENTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="@mipmap/ic_launcher_foreground" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_foreground" android:label="@string/app_name" android:largeHeap="true" android:name="apps.hunter.com.YalpStoreApplication" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider android:authorities="apps.hunter.com.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths"/>
        </provider>
        <receiver android:name="apps.hunter.com.UpdateChecker"/>
        <provider android:authorities="com.mozillaonline.downloads_appvn_nk" android:name="apps.hunter.com.download_pr.DownloadProvider"/>
        <service android:name="apps.hunter.com.download_pr.DownloadService"/>
        <receiver android:exported="false" android:name="apps.hunter.com.download_pr.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:name="apps.hunter.com.DetailsActivity"/>
        <activity android:exported="false" android:name="apps.hunter.com.LoginActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.WebActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <receiver android:enabled="true" android:exported="true" android:name="apps.hunter.com.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="apps.hunter.com.YalpStoreSuggestionProvider" android:enabled="true" android:exported="false" android:name="apps.hunter.com.YalpStoreSuggestionProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.DetailActivity" android:screenOrientation="sensorPortrait" android:theme="@style/YalpStoreThemeLight">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="details" android:scheme="market"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="play.google.com"/>
                <data android:path="/store/apps/details"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1805193543155408~1885160414"/>
        <activity android:name="apps.hunter.com.UpdateActivity" android:screenOrientation="sensorPortrait" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.VivaIntertitialActivity" android:screenOrientation="sensorPortrait"/>
        <activity android:name="apps.hunter.com.DirectDownloadActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/activity_title_updates_only" android:name="apps.hunter.com.UpdatableAppsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="search" android:scheme="market"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="play.google.com"/>
                <data android:path="/store/search"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/action_settings" android:name="apps.hunter.com.PreferenceActivity">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.CategoryListActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.CategoryAppsActivity"/>
        <activity android:name="apps.hunter.com.FullscreenImageActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.ClusterActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/action_manual" android:name="apps.hunter.com.ManualDownloadActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/action_about" android:name="apps.hunter.com.AboutActivity"/>
        <activity android:launchMode="singleInstance" android:name="apps.hunter.com.BugReportActivity" android:noHistory="true" android:process=":report_process"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.DeviceInfoActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.SplashActivity" android:theme="@style/YalpStoreThemeLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/action_wishlist" android:name="apps.hunter.com.WishlistActivity"/>
        <activity android:name="apps.hunter.com.WriteCommentActivity" android:theme="@style/YalpStoreThemeLightMain" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="apps.hunter.com.CategoryActivityAppvn" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.AboutActivityAppvn" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.DescriptionActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.FavoriteActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.SearchAppvnActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/activity_title_updates_and_other_apps" android:name="apps.hunter.com.InstalledAppsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.AboutAppvnActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <service android:name="apps.hunter.com.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="apps.hunter.com.firebase.MyInstanceFirebaseIdservice">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name="apps.hunter.com.SettingActivity" android:theme="@style/YalpStoreThemeLightMain"/>
        <receiver android:name="apps.hunter.com.receiver.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/icon_noti_white"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/color_accent"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <service android:enabled="true" android:name="apps.hunter.com.notification.CancelDownloadService"/>
        <service android:enabled="true" android:name="apps.hunter.com.notification.IgnoreUpdatesService"/>
        <service android:enabled="true" android:name="apps.hunter.com.notification.DownloadChecksumService"/>
        <service android:enabled="true" android:name="apps.hunter.com.bugreport.BugReportService"/>
        <service android:exported="true" android:name="apps.hunter.com.service.ManagerService"/>
        <activity android:name="apps.hunter.com.SearchActivityAppvn"/>
        <activity android:configChanges="keyboardHidden|locale|orientation|screenSize" android:launchMode="singleTask" android:name="apps.hunter.com.DownloadActivity" android:screenOrientation="sensorPortrait" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:name="apps.hunter.com.download_pr.SizeLimitActivity"/>
        <activity android:configChanges="layoutDirection|locale" android:name="apps.hunter.com.MainActivity" android:screenOrientation="sensorPortrait" android:theme="@style/YalpStoreThemeLightMain">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="apps.hunter.com.DetailCollectionActivity" android:screenOrientation="sensorPortrait" android:theme="@style/YalpStoreThemeLightMain"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="standard" android:name="com.yanzhenjie.permission.PermissionActivity" android:theme="@style/permission_PermissionActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="apps.hunter.com.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="apps.hunter.com.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="apps.hunter.com.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>
</manifest>